nav>ul>li{
    list-style-type: none;
    margin-right: 20px;
    padding: 0px 10px;
}
nav>ul>li:hover{
    background-color: lightgray;
}
nav>ul>li>a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav>ul{
    display: flex;
}
.dropdown>li{
    list-style-type: none;
}
.dropdown>li>a{
    text-decoration: none;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: lightgray;
    box-shadow: 10px 10px 15px whitesmoke;
    border: 1px solid black;
    padding: 10px;   
}
nav>ul>li:hover>.dropdown{
    display: block;
}
.dropdown>li:hover:nth-child(odd){
    background-color:orange;
}
.dropdown>li:hover:nth-child(even){
    background-color:tomato;
}
